body {
    background-color: rgb(1, 22, 48);
    font-family: "Lucida Console", "Courier New", monospace;
  }
.jumbotron  {
    color: white;
    text-shadow: 5px 2px purple;
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}
#gauge {
    background-color: white;

  }
.well  {
    color: #fff;
    font-weight: bold;
    background-color: #337ab7;
    border-radius: 2%; 
    border-color: rgb(0, 18, 41);
    border-width: 8px;
}
#selDataset {
    background-color: #337ab7;
    border-color: rgb(0, 18, 41);
    border-width: 3px;
}

.panel  {
    color: #FFD700;
    font-weight: bold;
    background-color: rgb(1, 22, 48);
    border-radius: 2%;
    border-width: 8px;
    border-color: rgb(0, 18, 41);
}